# Игнорировать папки сборки
bin/
obj/
migrations/
# Игнорировать файлы настроек, которые могут содержать конфиденциальную информацию
appsettings.Development.json
# appsettings.json (можно раскомментировать, если не хочешь коммитить и его)

# Игнорировать файлы, созданные Visual Studio
.vs/
*.user
*.suo
*.sln.docstates

# Игнорировать папки пакетов NuGet
packages/

# Игнорировать файлы, созданные ReSharper
_ReSharper*/

# Игнорировать файлы, созданные операционной системой
Thumbs.db
*.DS_Store

# Игнорировать файлы, созданные Visual Studio Code
.vscode/

# Игнорировать файлы, созданные при публикации
publish/

