.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
    align-items: center;
    justify-content: center;
}

.modal.active {
    display: flex;
    opacity: 1;
}

.modal-content {
    background-color: #fefefe;
    padding: 25px;
    border: 1px solid #888;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    position: relative;
    transform: translateY(-20px);
    transition: transform 0.3s ease;
    margin: 20px;
}

.modal.active .modal-content {
    transform: translateY(0);
}

.close-modal {
    color: #aaa;
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Анимация */
@keyframes slideIn {
    from {
        transform: translateY(-100%); /* Начинаем сверху */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* Заканчиваем на месте */
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

/*Стили для кнопки*/
.modal-button{
    background-color: #2f59c4; /* Прозрачный фон */
    color: #fff; /* Белый текст */
    border: 2px solid #fff; /* Белая рамка */
    padding: 10px 20px; /* Внутренние отступы */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Меняем курсор на "руку" */
    transition: background-color 0.3s ease, color 0.3s ease; /* Плавный переход для фона и текста */
}
.modal-button:hover{
    background-color: #fff; /* Белый фон при наведении */
    color: #000; /* Черный текст при наведении */
}

/* Стили для выдвигающегося меню */
.navigation-menu.show {
    transform: translateX(0); /* Показываем меню */
}

.hamburger {
    display: none; /* Скрываем кнопку на больших экранах */
    cursor: pointer;
    background: transparent;
    border: none;
    margin-right: 10px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    display: block;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
    .navigation-menu {
        display: none; /* Скрываем горизонтальное меню */
    }

    .hamburger {
        display: block; /* Показываем кнопку */
    }
    
    .navigation-menu.active {
        position: fixed; /* Фиксированное позиционирование */
        top: 80px; /* Под header */
        right: 0;
        width: 200px; /* Ширина меню */
        height: 100vh; /* На всю высоту экрана */
        background-color: #f0f0f0;
        flex-direction: column; /* Вертикальное расположение элементов */
        transform: translateX(100%); /* Скрываем меню за пределами экрана */
        transition: transform 0.3s ease-in-out; /* Анимация */
        z-index: 100; /* Чтобы меню было поверх всего */
        padding: 20px;
    }

    .userName {
    display: flex;
    align-items: center;
    gap: 10px; /* Расстояние между элементами */
    color: #aaa; /* Цвет текста */
    font-family: Arial, sans-serif;
}

#user-name {
    display: inline-block; /* Показывается как строка */
    color: #aaa;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
}







}